<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team19.spacetrail" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="team19.spacetrail.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="team19.spacetrail.load_game"
            android:label="@string/title_activity_load_game" >
        </activity>
        <activity
            android:name="team19.spacetrail.game_screen"
            android:label="@string/title_activity_game_screen" >
        </activity>
        <activity
            android:name="team19.spacetrail.game_info"
            android:label="@string/title_activity_game_info" >
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name="team19.spacetrail.SpaceActivity"
            android:label="@string/title_activity_space" >
        </activity>
    </application>

</manifest>
