<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team19.spacetrail" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/spaceship_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="team19.spacetrail.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="team19.spacetrail.GameScreenActivity"
            android:label="@string/title_activity_game_screen"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="team19.spacetrail.GameInfoActivity"
            android:label="@string/title_activity_game_info"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="team19.spacetrail.PlanetActivity"
            android:label="@string/title_activity_planet"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="team19.spacetrail.ExitActivity"
            android:label="@string/title_activity_exit"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="team19.spacetrail.AsteroidActivity"
            android:label="@string/title_activity_asteroid" >
        </activity>
    </application>

</manifest>
